* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(4, 121, 255, 0.26);
}
.formHeading-comp {
  width: 50%;
  margin: 10px auto;
  background-color: rgba(0, 119, 178, 0.731);
  padding: 8px 5px;
  border-radius: 5px;
}
.formHeading {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.955);
  word-spacing: 1px;
  letter-spacing: 0.6px;
  font-weight: bold;
  text-align: center;
}
.form {
  width: 50%;
  margin: 50px auto;
  background-color: rgba(71, 163, 238, 0.267);
  padding: 30px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.input-row {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  gap: 5px;
  position: relative;
}

.float-label {
  // flex-grow: 1;
  font-size: 15px;
}

.input {
  // flex-grow: 1;
  height: 34px;
  font-size: 16px;
  border-radius: 5px;
  // background-color: rgb(255, 255, 255);
  // border: 0px solid;
  padding: 3px 10px;
  border: 1px rgba(255, 0, 0, 0) solid;
  transition: all 1s;
  background-color: white;
  // outline: 1px rgba(255, 0, 0, 0.838) solid;
}
.input:hover,
.input:focus {
  background-color: white;
}
.input:focus {
  // border: 1px rgba(255, 0, 0, 0) solid;
  outline: 0px;
}

.input-password {
  padding-right: 37px;
}
.password-eye-relative {
  position: relative;
}
.password-eye {
  position: absolute;
  top: 32px;
  right: 8px;
}

.radio-input {
  display: flex;
  gap: 12px;
}

.radio {
  flex-basis: 30%;
}

.radio-group {
  display: flex;
  // flex-basis: 30%;
  gap: 5px;
  background-color: rgba(0, 29, 90, 0.637);
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
}

.submit-comp {
  display: flex;
  justify-content: center;

  padding: 20px;
}
.submit {
  background-color: rgba(0, 119, 178, 0.731);
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  border: 0px solid;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.submit-message-comp-success {
  width: 40%;
  margin: 10px auto;
  background-color: rgb(61, 191, 0);
  padding: 5px;
  border-radius: 5px;
}

.submit-message-comp-fail {
  width: 40%;
  margin: 10px auto;
  background-color: rgba(174, 0, 0, 0.979);
  padding: 5px;
  border-radius: 5px;
}

.submit-message {
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.error-comp {
  position: absolute;
  font-size: 13px;
  top: 60px;
  left: 0px;
  width: 100%;
}

.error {
  position: absolute;
  color: rgb(129, 1, 1);
}

.input-error,
.input-error:focus {
  outline: 1.3px rgba(255, 0, 0, 0.576) solid;
  // padding: 30px;
}
.input-country,
.input-state,
.input-city {
  border-radius: 3px;
}

.locaion-error {
  padding-top: 3px;
}
